.modal {
  text-align: center;
  padding: 0!important;
  position: fixed;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.back {
  background-color: #D0D3D4;
}

.home,
.location {
  font-size: 15px;
}

#gal {
  font-size: 35px;
  font-family: 'Big Shoulders Display', cursive;
}

.futa,
.rat {
  margin-right: 10px;
  padding-right: 10px;
}

.cate,
.photo,
.shot {
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 70px;
  color: black;
  font-weight: 600;
}

.photo {
  padding-top: 50px;
}

.name {
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 540px;
}

.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  filter: grayscale(100%);
}

.image-box:hover img {
  transform: scale(1.1);
  filter: grayscale(0);
}

.intro {
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
  color: black;
}

.ar {
  font-family: 'Josefin Slab', serif;
  color: black;
  font-size: 35px;
}

.shad {
  box-shadow: 5px 5px 5px #424949;
}

.foot {
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-weight: bold;
  font-style: italic;
}